body,h1, h2, h3, p, ul{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Roboto', sans-serif;
}
/* Menu */
.menu{
	padding: 3px 0;
}
.menu_container{
	max-width: 960px;
	margin: 30px auto;
}
.menu_container::after, .menu_container::before{
	content: "";
	display: table;
	clear: both;
}
a.menu_logo{
	display: block;
	float: left;
	margin-left: 0px;
}
.menu_nav{
	float: right;
	margin: 10px 0 0 10px;
}
.menu_nav li{
	display: inline-block;
}
.menu_nav a{
	display: block;
	padding: 15px 0;
	margin: 30px auto 0 auto;
	width: 180px;
	border: 3px solid;
	text-decoration: none;
	font-size: 1.225em;
	text-transform: uppercase;
	text-align: center;
	border-color: 3px solid;
	color: #392818;
}
.menu_container .img_logo{
	margin: -5px 0 0 0;
	width: 250px;
	height: 120px;
}
/*Media Queries*/
@media (max-width: 739px){
	.menu_logo > .img_logo{
		width: 220px;
		height: 100px;
		align-items: center;
	}
	.menu_nav{
		float: none;
		clear: both;
	}
}
/*intro main */
h1{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2.5em;
	margin: 5px 0 0 0;
}
.img_xicara{
	width: 40px;
	height: 40px;
}
/*Media Queries intro*/
@media (max-width: 739px){
	.titulo_intro{
		display: none;
	}
}
/* postagem blog */
.post{
	padding: 10px 0;
}
.post_container{
	width: 460px;
	margin: 0 auto;
}
.post_container::after, .post_container::before{
	content: "";
	display: table;
	clear: left;
}
.post_item{
	clear: right;
	float: left;
	margin: 40px 50px;
}
.post_item h2{
	font-size: 3.2em;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;
}
.post_item h3{
	font-size: 1.2em;
	font-weight: bold;
	font-style: normal;
	padding-bottom: 5px;
	text-align: justify;
	line-height: 1.8em;
}
.post_item img{
	display: block;
	max-width: 100%;
}
.post_item > div{
	width: 460px;
	float: left;
	display: inline-block;
	margin: 50px 10px;
}
@media (max-width: 739px){
	.post_item{
		float: left;
	}
}
/* call to action */
.assine{
	padding: 0px 0;
}
.assine p{
	margin: 30px;
	font-size: 1.125em;
	text-align: center;
	font-weight: bold;
}
.assine_container{
	max-width: 100%;
	height: 150px;
	margin: 0 auto;
	color: #fff;
	background-image: url("../img/cafe.jpg");
	background-size: cover;
}
.assine_container::after, .assine_container::before{
	content: "";
	display: table;
	clear: both;	
}
.btn_ler{
	width: 200px;
	border: 3px solid;
	color: #252525;
	text-decoration: none;
	display: block;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 30px;
	margin: 20px auto 30px auto;
	letter-spacing: .1em;
}
.btn_ler a {
	text-decoration: none;
	color: #392818;
}
/*Media Queries - Call*/
@media (max-width: 739px){
	.assine{
		width: 600px;
	}
	.btn_ler{
		align-items: center;
		margin: 10px 0  0 150px;
	}
}
/*Footer*/
.footer{
	background: #212121;
	color: #fff;
	text-align: center;
}
.footer_container{
	max-width: 960px;
	margin: 0 auto;
}
.footer_container p{
	text-align: center;
	margin: 20px;
}
.footer_container ul li{
	list-style: none;
	float: right;
}
.footer_container::after, .footer_container::before{
	content: "";
	display: table;
	clear: both;
}
.footer img{
	float: left;
	margin: 0 3px;
	display: block;
	width: 50px;
	height: 50px;
}
/*Media Queries - Footer*/
@media (max-width: 739px){
	.footer_container{
		width: 340px;
	}
	.footer p{
		float: none;
		margin: 0px;
	}
	.footer img{
		float: none;
		margin: 10px 0;
	}
}